[submodule "ME3TweaksCore/submodules/LegendaryExplorer"]
	path = ME3TweaksCore/submodules/LegendaryExplorer
	url = https://github.com/ME3Tweaks/LegendaryExplorer.git
[submodule "ME3TweaksCore/submodules/ComputerInfo"]
	path = ME3TweaksCore/submodules/ComputerInfo
	url = https://github.com/ME3Tweaks/ComputerInfo
[submodule "ME3TweaksCore/submodules/RoboSharp"]
	path = ME3TweaksCore/submodules/RoboSharp
	url = https://github.com/Mgamerz/RoboSharp.git
